.page {
  font-family: "IBM Plex Sans", "Montserrat", sans-serif;

  scroll-behavior: smooth;
  
  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    
    transform: translateY(-100%);

    transition: all 0.3s;

    &:target {
      transform: translateY(0);
    }

    @include media (desktop, desktopWide) {
      position: absolute;
    }
  }
}
