.ticket-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;

  width: 280px;
  height: 50px;
  border: 1px solid $colorGreenPea;

  text-decoration: none;

  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $colorMarshland;

  transition: all 0.3s;

  @include media (tablet, desktop, desktopWide) {
    width: 220px;
    height: 70px;
  }

  &:hover {
    box-shadow: rgba(26,90,74, 0.35) 0 5px 15;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: rgba(26,90,74, 0.55) 0 2px 8;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;

    background-color: #fff;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 100%;

    box-sizing: border-box;

    background-color: $colorGreenPea;

    color: #fff;

    transition: all 0.3s;

    &:hover {
      background-color: rgba(26,90,74, 0.55);
    }

    @include media (tablet, desktop, desktopWide) {
      width: 70px;
    }
  }
}
