.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 5;

  &--open {
    visibility: hidden;
  }

  &__container {
    width: 100%;

    padding: 9px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-icon {
    width: 24px;
    height: 24px;
    padding: 3px;

    box-sizing: border-box;

    background-image: url("../images/burger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__search {
    opacity: 0;
  }
}
